<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="functionDao">
	<resultMap type="Function" id="function">
		<id column="function_id" property="fid"/>
		<result column="function_name" property="fname"/>
		<result column="function_image" property="image"/>
		<result column="function_params" property="params"/>
		<result column="category_id" property="cid"/>
		<result column="package_name" property="packageName"/>
		<result column="class_name" property="className"/>
		<result column="method_name" property="methodName"/>
	</resultMap>
    <select id="query" resultMap="function">
        select * from hm_function f
    </select>
    <select id="queryById" resultMap="function">
        select * from hm_function f where f.function_id = #{fid}
    </select>
    <select id="listByCategory" resultMap="function">
    	select * from hm_function f where f.category_id = #{category}
    </select>
    <delete id="delete">
		delete from hm_function where function_id = #{fid}
    </delete>
    <insert id="save" parameterType="Function">
        insert into hm_function(category_id,function_name,function_image,function_params,package_name,class_name,method_name)
        values(#{cid},#{fname},#{image},#{params},#{packageName},#{className},#{methodName})
    </insert>
    <update id="update" parameterType="Function">
    	update hm_function f set f.function_name=#{fname},
		<if test="image !=null"> f.function_image=#{image}, </if>
		<if test="packageName !=null"> f.package_name=#{packageName}, </if>
		<if test="className !=null"> f.class_name=#{className}, </if>
		<if test="methodName !=null"> f.method_name=#{methodName}, </if>
    							 f.function_params=#{params},
    							 f.category_id=#{cid}
    	where f.function_id = #{fid}
    </update>
    
</mapper>
