<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC     
    "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="newsDao">
	<resultMap type="News" id="news">
		<id column="news_id" property="nid"/>
		<result column="news_title" property="title"/>
		<result column="news_create_time" property="createTime"/>
		<result column="news_author" property="author"/>
		<result column="news_context" property="context"/>
	</resultMap>
    <select id="query" resultMap="news">
        select * from hm_news n
    </select>
    <select id="queryById" resultMap="news">
        select * from hm_news n where n.news_id = #{nid}
    </select>
    <delete id="delete">
		delete from hm_news where news_id = #{nid}
    </delete>
    <insert id="save" parameterType="News">
        insert into hm_news(news_title,news_create_time,news_author,news_context)
        values(#{title},#{createTime},#{author},#{context})
    </insert>
    <update id="update" parameterType="News">
    	update hm_news n set n.news_title=#{title},
    							 n.news_create_time=#{createTime},
    							 n.news_author=#{author},
    							 n.news_context=#{context}
    	where n.news_id = #{nid}
    </update>
    
</mapper>